{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
.appointment-wrap > ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.appointment-wrap > ul > li {
    flex: 1;
}

.appointment-wrap .patinet-information {
    display: flex;
    align-items: center;
}

.appointment-wrap .appointment-info {
    text-align: left;
}

.appointment-status {
    white-space: nowrap;
}

.request-action {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    white-space: nowrap;
}

.request-action li {
    display: inline-flex !important;
    width: auto !important;
}

.request-action a {
    white-space: nowrap;
}

.request-action .badge {
    white-space: nowrap;
}
</style>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <div class="header-theme header-theme-two">
        <button type="button"
                id="dark-mode-toggle"
                class="theme-toggle moon"
                aria-label="dark mode">
            <i class="isax isax-moon5"></i>
        </button>

        <button type="button"
                id="light-mode-toggle"
                class="theme-toggle sun"
                aria-label="light mode">
            <i class="isax isax-sun-15"></i>
        </button>
    </div>


    <!-- Page Content -->
    <div class="content doctor-content">

        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <div class="col-lg-4 col-xl-3 theiaStickySidebar">

                    {% include 'sidebar.html' %}

                </div>
                <!-- /Sidebar -->


                <!-- Main Content -->
                <div class="col-lg-8 col-xl-9">

                    <!-- Dashboard Header -->
                    <div class="dashboard-header">

                        <h3>Requests</h3>

                        <ul>
                            <li>

                                <div class="dropdown header-dropdown">

                                    <a class="dropdown-toggle nav-tog"
                                       data-bs-toggle="dropdown"
                                       href="javascript:void(0);">
                                        Last 7 Days
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end">

                                        <a href="javascript:void(0);"
                                           class="dropdown-item">
                                            Today
                                        </a>

                                        <a href="javascript:void(0);"
                                           class="dropdown-item">
                                            This Month
                                        </a>

                                        <a href="javascript:void(0);"
                                           class="dropdown-item">
                                            Last 7 Days
                                        </a>

                                    </div>

                                </div>

                            </li>
                        </ul>

                    </div>
                    <!-- /Dashboard Header -->


                    <!-- Request List -->

                    {% if appointment %}

                        {% for i in appointment %}

                        <div class="appointment-wrap">

                            <ul>

                                <!-- Patient Information -->
                                <li>

                                    <div class="patinet-information">

                                        {% if i.patient.profile_photo %}

                                            <a href="patient-profile.html">
                                                <img src="{{ i.patient.profile_photo.url }}"
                                                     alt="User Image"
                                                     width="50"
                                                     height="50">
                                            </a>

                                        {% else %}

                                            <a href="patient-profile.html">
                                                <img src="{% static 'assets/img/doctors-dashboard/profile-04.jpg' %}"
                                                     alt="Img">
                                            </a>

                                        {% endif %}


                                        <div class="patient-info">

                                            <p>#APT{{ i.id }}</p>

                                            <h6>
                                                <a href="patient-profile.html">
                                                    {{ i.patient.fname }}
                                                    {{ i.patient.lname }}
                                                </a>
                                            </h6>

                                        </div>

                                    </div>

                                </li>
                                <!-- /Patient Information -->


                                <!-- Appointment Information -->
                                <li class="appointment-info">

                                    <p>
                                        <i class="isax isax-clock5"></i>
                                        {{ i.appointment_day }}
                                    </p>

                                    <p class="md-text">
                                        General Visit
                                    </p>

                                </li>
                                <!-- /Appointment Information -->


                                <!-- Status -->
                                <li>

                                    <div class="appointment-status">

                                        {% if i.status == "Pending" %}

                                            <span class="badge bg-warning">
                                                Pending
                                            </span>

                                        {% elif i.status == "Approved" %}

                                            <span class="badge bg-success">
                                                Approved
                                            </span>

                                        {% elif i.status == "Rejected" %}

                                            <span class="badge bg-danger">
                                                Rejected
                                            </span>

                                        {% elif i.status == "Cancelled" %}

                                            <span class="badge bg-warning">
                                                Cancelled
                                            </span>

                                        {% elif i.status == "Completed" %}

                                            <span class="badge bg-primary">
                                                Completed
                                            </span>

                                        {% endif %}

                                    </div>

                                </li>
                                <!-- /Status -->


                                <!-- Request Actions -->
                                <li>

                                    <ul class="request-action">


                                        <!-- PENDING -->
                                        {% if i.status == "Pending" %}

                                            <!-- Accept -->
                                            <li>

                                                <a href="{% url 'approve_appointment' i.id %}"
                                                   class="accept-link">

                                                    <i class="fa-solid fa-check"></i>
                                                    Accept

                                                </a>

                                            </li>


                                            <!-- Reject -->
                                            <li>

                                                <a href="{% url 'reject_appointment' i.id %}"
                                                   class="reject-link">

                                                    <i class="fa-solid fa-xmark"></i>
                                                    Reject

                                                </a>

                                            </li>


                                        <!-- APPROVED -->
                                        {% elif i.status == "Approved" %}

                                            <!-- Reject Only -->
                                            <li>

                                                <a href="{% url 'reject_appointment' i.id %}"
                                                   class="reject-link">

                                                    <i class="fa-solid fa-xmark"></i>
                                                    Reject

                                                </a>

                                            </li>


                                        <!-- CANCELLED -->
                                        {% elif i.status == "Cancelled" %}

                                            <li>

                                                <span class="badge bg-warning">
                                                    Cancelled
                                                </span>

                                            </li>


                                        <!-- REJECTED -->
                                        {% elif i.status == "Rejected" %}

                                            <li>

                                                <span class="badge bg-danger">
                                                    Rejected
                                                </span>

                                            </li>


                                        <!-- COMPLETED -->
                                        {% elif i.status == "Completed" %}

                                            <li>

                                                <span class="badge bg-primary">
                                                    Completed
                                                </span>

                                            </li>

                                        {% endif %}

                                    </ul>

                                </li>
                                <!-- /Request Actions -->


                            </ul>

                        </div>

                        {% endfor %}

                    {% else %}

                        <!-- No Appointment -->
                        <div class="appointment-wrap">

                            <div class="text-center p-4">

                                <h5>No appointments found.</h5>

                            </div>

                        </div>

                    {% endif %}

                    <!-- /Request List -->


                    <!-- Load More -->
                    <div class="row">

                        <div class="col-md-12">

                            <div class="loader-item text-center">

                                <a href="javascript:void(0);"
                                   class="btn btn-load">
                                    Load More
                                </a>

                            </div>

                        </div>

                    </div>
                    <!-- /Load More -->


                </div>
                <!-- /Main Content -->

            </div>

        </div>

    </div>
    <!-- /Page Content -->


    <!-- Footer -->
    <footer class="footer inner-footer">

        <div class="footer-top">

            <div class="container">

                <div class="row">

                    <div class="col-xl-8">

                        <div class="row">

                            <!-- Company -->
                            <div class="col-lg-3 col-md-3 col-sm-6">

                                <div class="footer-widget footer-menu">

                                    <h6 class="footer-title">
                                        Company
                                    </h6>

                                    <ul>

                                        <li>
                                            <a href="about-us.html">
                                                About
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Features
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Works
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Careers
                                            </a>
                                        </li>

                                        <li>
                                            <a href="contact-us.html">
                                                Locations
                                            </a>
                                        </li>

                                    </ul>

                                </div>

                            </div>


                            <!-- Treatments -->
                            <div class="col-lg-3 col-md-3 col-sm-6">

                                <div class="footer-widget footer-menu">

                                    <h6 class="footer-title">
                                        Treatments
                                    </h6>

                                    <ul>

                                        <li>
                                            <a href="search.html">
                                                Dental
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Cardiac
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Spinal Cord
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Hair Growth
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Anemia & Disorder
                                            </a>
                                        </li>

                                    </ul>

                                </div>

                            </div>


                            <!-- Specialities -->
                            <div class="col-lg-3 col-md-3 col-sm-6">

                                <div class="footer-widget footer-menu">

                                    <h6 class="footer-title">
                                        Specialities
                                    </h6>

                                    <ul>

                                        <li>
                                            <a href="search.html">
                                                Transplant
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Cardiologist
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Oncology
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Pediatrics
                                            </a>
                                        </li>

                                        <li>
                                            <a href="search.html">
                                                Gynacology
                                            </a>
                                        </li>

                                    </ul>

                                </div>

                            </div>


                            <!-- Utilities -->
                            <div class="col-lg-3 col-md-3 col-sm-6">

                                <div class="footer-widget footer-menu">

                                    <h6 class="footer-title">
                                        Utilites
                                    </h6>

                                    <ul>

                                        <li>
                                            <a href="pricing.html">
                                                Pricing
                                            </a>
                                        </li>

                                        <li>
                                            <a href="contact-us.html">
                                                Contact
                                            </a>
                                        </li>

                                        <li>
                                            <a href="contact-us.html">
                                                Request A Quote
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Premium Membership
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Integrations
                                            </a>
                                        </li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>


                    <!-- Newsletter -->
                    <div class="col-xl-4 col-md-7">

                        <div class="footer-widget">

                            <h6 class="footer-title">
                                Newsletter
                            </h6>

                            <p class="mb-2 text-dark">
                                Subscribe & Stay Updated from the Doccure
                            </p>

                            <div class="subscribe-input">

                                <form action="#">

                                    <input type="email"
                                           class="form-control"
                                           placeholder="Enter Email Address">

                                    <button type="submit"
                                            class="btn btn-md btn-primary-gradient d-inline-flex align-items-center">

                                        <i class="isax isax-send-25 me-1"></i>
                                        Send

                                    </button>

                                </form>

                            </div>


                            <div class="social-icon">

                                <h6 class="mb-3 footer-title">
                                    Connect With Us
                                </h6>

                                <ul>

                                    <li>
                                        <a href="#"
                                           aria-label="facebook">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#"
                                           aria-label="twitter">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#"
                                           aria-label="instagram">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#"
                                           aria-label="linkedin">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#"
                                           aria-label="pinterest">
                                            <i class="fa-brands fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


        <!-- Footer Bottom -->
        <div class="footer-bottom">

            <div class="container">

                <div class="copyright">

                    <div class="copyright-text mb-0">

                        <p class="mb-0">
                            Copyright © 2026 Doccure.
                            All Rights Reserved
                        </p>

                    </div>


                    <div class="copyright-menu">

                        <ul class="policy-menu mb-0">

                            <li>
                                <a href="#">
                                    Legal Notice
                                </a>
                            </li>

                            <li>
                                <a href="privacy-policy.html">
                                    Privacy Policy
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Refund Policy
                                </a>
                            </li>

                        </ul>

                    </div>


                    <ul class="payment-method">

                        <li>
                            <a href="#">
                                <img src="{% static 'assets/img/icons/card-01.svg' %}"
                                     alt="Img">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="{% static 'assets/img/icons/card-02.svg' %}"
                                     alt="Img">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="{% static 'assets/img/icons/card-03.svg' %}"
                                     alt="Img">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="{% static 'assets/img/icons/card-04.svg' %}"
                                     alt="Img">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="{% static 'assets/img/icons/card-05.svg' %}"
                                     alt="Img">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="{% static 'assets/img/icons/card-06.svg' %}"
                                     alt="Img">
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </footer>
    <!-- /Footer -->


</div>
<!-- /Main Wrapper -->

{% endblock %}