{% extends 'base1.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="The responsive professional Doccure template offers many features, like scheduling appointments with top doctors, clinics, and hospitals via voice, video call & chat.">

    <meta name="keywords"
        content="practo clone, doccure, doctor appointment, Practo clone HTML template, doctor booking template">

    <meta name="author"
        content="Practo Clone HTML Template - Doctor Booking Template">

    <title>Doccure - Categories Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon"
        type="image/x-icon"
        href="{% static 'assets/img/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet"
        href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">

    <link rel="stylesheet"
        href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet"
        href="{% static 'assets/css/feathericon.min.css' %}">

    <!-- Datatables CSS -->
    <link rel="stylesheet"
        href="{% static 'assets/plugins/datatables/datatables.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet"
        href="{% static 'assets/css/custom.css' %}">

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">

                <a href="{% url 'admin_dashboard' %}" class="logo">

                    <img src="{% static 'assets/img/logo.png' %}"
                        alt="Logo">

                </a>

                <a href="{% url 'admin_dashboard' %}"
                    class="logo logo-small">

                    <img src="{% static 'assets/img/logo-small.png' %}"
                        alt="Logo"
                        width="30"
                        height="30">

                </a>

            </div>
            <!-- /Logo -->


            <!-- Toggle Button -->
            <a href="javascript:void(0);"
                id="toggle_btn">

                <i class="fe fe-text-align-left"></i>

            </a>
            <!-- /Toggle Button -->


            <!-- Search -->
            <div class="top-nav-search">

                <form>

                    <input type="text"
                        class="form-control"
                        placeholder="Search here">

                    <button class="btn"
                        type="submit">

                        <i class="fa fa-search"></i>

                    </button>

                </form>

            </div>
            <!-- /Search -->


            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn"
                id="mobile_btn">

                <i class="fa fa-bars"></i>

            </a>
            <!-- /Mobile Menu Toggle -->


            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- Notifications -->
                <li class="nav-item dropdown noti-dropdown">

                    <a href="#"
                        class="dropdown-toggle nav-link"
                        data-bs-toggle="dropdown">

                        <i class="fe fe-bell"></i>

                        <span class="badge rounded-pill">
                            3
                        </span>

                    </a>


                    <div class="dropdown-menu notifications">

                        <div class="topnav-dropdown-header">

                            <span class="notification-title">
                                Notifications
                            </span>

                            <a href="javascript:void(0)"
                                class="clear-noti">

                                Clear All

                            </a>

                        </div>


                        <div class="noti-content">

                            <ul class="notification-list">

                                <li class="notification-message">

                                    <a href="#">

                                        <div class="notify-block d-flex">

                                            <span class="avatar avatar-sm flex-shrink-0">

                                                <img
                                                    class="avatar-img rounded-circle"
                                                    alt="User Image"
                                                    src="{% static 'assets/img/doctors/doctor-thumb-01.jpg' %}">

                                            </span>


                                            <div class="media-body flex-grow-1">

                                                <p class="noti-details">

                                                    <span class="noti-title">
                                                        Dr. Ruby Perrin
                                                    </span>

                                                    Schedule

                                                    <span class="noti-title">
                                                        her appointment
                                                    </span>

                                                </p>

                                                <p class="noti-time">

                                                    <span class="notification-time">
                                                        4 mins ago
                                                    </span>

                                                </p>

                                            </div>

                                        </div>

                                    </a>

                                </li>


                                <li class="notification-message">

                                    <a href="#">

                                        <div class="notify-block d-flex">

                                            <span class="avatar avatar-sm flex-shrink-0">

                                                <img
                                                    class="avatar-img rounded-circle"
                                                    alt="User Image"
                                                    src="{% static 'assets/img/profiles/avatar-01.jpg' %}">

                                            </span>


                                            <div class="media-body flex-grow-1">

                                                <p class="noti-details">

                                                    <span class="noti-title">
                                                        Charlene Reed
                                                    </span>

                                                    has booked her appointment to

                                                    <span class="noti-title">
                                                        Dr. Ruby Perrin
                                                    </span>

                                                </p>

                                                <p class="noti-time">

                                                    <span class="notification-time">
                                                        6 mins ago
                                                    </span>

                                                </p>

                                            </div>

                                        </div>

                                    </a>

                                </li>


                                <li class="notification-message">

                                    <a href="#">

                                        <div class="notify-block d-flex">

                                            <span class="avatar avatar-sm flex-shrink-0">

                                                <img
                                                    class="avatar-img rounded-circle"
                                                    alt="User Image"
                                                    src="{% static 'assets/img/profiles/avatar-02.jpg' %}">

                                            </span>


                                            <div class="media-body flex-grow-1">

                                                <p class="noti-details">

                                                    <span class="noti-title">
                                                        Travis Trimble
                                                    </span>

                                                    sent a amount of $210 for his

                                                    <span class="noti-title">
                                                        appointment
                                                    </span>

                                                </p>

                                                <p class="noti-time">

                                                    <span class="notification-time">
                                                        8 mins ago
                                                    </span>

                                                </p>

                                            </div>

                                        </div>

                                    </a>

                                </li>


                                <li class="notification-message">

                                    <a href="#">

                                        <div class="notify-block d-flex">

                                            <span class="avatar avatar-sm flex-shrink-0">

                                                <img
                                                    class="avatar-img rounded-circle"
                                                    alt="User Image"
                                                    src="{% static 'assets/img/profiles/avatar-03.jpg' %}">

                                            </span>


                                            <div class="media-body flex-grow-1">

                                                <p class="noti-details">

                                                    <span class="noti-title">
                                                        Carl Kelly
                                                    </span>

                                                    send a message

                                                    <span class="noti-title">
                                                        to his doctor
                                                    </span>

                                                </p>

                                                <p class="noti-time">

                                                    <span class="notification-time">
                                                        12 mins ago
                                                    </span>

                                                </p>

                                            </div>

                                        </div>

                                    </a>

                                </li>

                            </ul>

                        </div>


                        <div class="topnav-dropdown-footer">

                            <a href="#">
                                View all Notifications
                            </a>

                        </div>

                    </div>

                </li>
                <!-- /Notifications -->


                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">

                    <a href="#"
                        class="dropdown-toggle nav-link"
                        data-bs-toggle="dropdown">

                        <span class="user-img">

                            <img
                                class="rounded-circle"
                                src="{% static 'assets/img/profiles/avatar-01.jpg' %}"
                                width="31"
                                alt="Administrator">

                        </span>

                    </a>


                    <div class="dropdown-menu">

                        <div class="user-header">

                            <div class="avatar avatar-sm">

                                <img
                                    src="{% static 'assets/img/profiles/avatar-01.jpg' %}"
                                    alt="User Image"
                                    class="avatar-img rounded-circle">

                            </div>


                            <div class="user-text">

                                <h6>
                                    Administrator
                                </h6>

                                <p class="text-muted mb-0">
                                    Administrator
                                </p>

                            </div>

                        </div>


                        <a class="dropdown-item"
                            href="profile.html">

                            My Profile

                        </a>


                        <a class="dropdown-item"
                            href="settings.html">

                            Settings

                        </a>


                        <a class="dropdown-item"
                            href="login.html">

                            Logout

                        </a>

                    </div>

                </li>
                <!-- /User Menu -->

            </ul>
            <!-- /Header Right Menu -->

        </div>
        <!-- /Header -->


        <!-- Sidebar -->
        <div class="sidebar"
            id="sidebar">

            <div class="sidebar-inner slimscroll">

                <div id="sidebar-menu"
                    class="sidebar-menu">

                    <ul>

                        <li class="menu-title">

                            <span>
                                Main
                            </span>

                        </li>


                        <!-- Dashboard -->
                        <li>

                            <a href="{% url 'admin_dashboard' %}">

                                <i class="fe fe-home"></i>

                                <span>
                                    Dashboard
                                </span>

                            </a>

                        </li>
                        <!-- /Dashboard -->


                        <!-- Products -->
                        <li class="submenu">

                            <a href="#">

                                <i class="fe fe-document"></i>

                                <span>
                                    Products
                                </span>

                                <span class="menu-arrow"></span>

                            </a>


                            <ul style="display: none;">

                                <li>

                                    <a href="{% url 'products' %}">
                                        Products
                                    </a>

                                </li>


                                <li>

                                    <a href="{% url 'add_product' %}">
                                        Add Product
                                    </a>

                                </li>


                                <li>

                                    <a href="{% url 'outstock' %}">
                                        Out-Stock
                                    </a>

                                </li>


                                <li>

                                    <a href="{% url 'expired' %}">
                                        Expired
                                    </a>

                                </li>

                            </ul>

                        </li>
                        <!-- /Products -->


                        <!-- Categories -->
                        <li class="active">

                            <a href="{% url 'categories' %}">

                                <i class="fe fe-layout"></i>

                                <span>
                                    Categories
                                </span>

                            </a>

                        </li>
                        <!-- /Categories -->


                        <!-- Purchase -->
                        <li class="submenu">

                            <a href="#">

                                <i class="fe fe-star-o"></i>

                                <span>
                                    Purchase
                                </span>

                                <span class="menu-arrow"></span>

                            </a>


                            <ul style="display: none;">

                                <li>

                                    <a href="{% url 'purchase' %}">
                                        Purchase
                                    </a>

                                </li>


                                <li>

                                    <a href="{% url 'add_purchase' %}">
                                        Add Purchase
                                    </a>

                                </li>


                                <li>

                                    <a href="#">
                                        Order
                                    </a>

                                </li>

                            </ul>

                        </li>
                        <!-- /Purchase -->


                        <!-- Sales -->
                        <li>

                            <a href="{% url 'sales' %}">

                                <i class="fe fe-activity"></i>

                                <span>
                                    Sales
                                </span>

                            </a>

                        </li>
                        <!-- /Sales -->


                        <!-- Supplier -->
                        <li class="submenu">

                            <a href="#">

                                <i class="fe fe-user"></i>

                                <span>
                                    Supplier
                                </span>

                                <span class="menu-arrow"></span>

                            </a>


                            <ul style="display: none;">

                                <li>

                                    <a href="#">
                                        Supplier
                                    </a>

                                </li>


                                <li>

                                    <a href="{% url 'add_supplier' %}">
                                        Add Supplier
                                    </a>

                                </li>

                            </ul>

                        </li>
                        <!-- /Supplier -->


                        <!-- Transaction -->
                        <li>

                            <a href="{% url 'transactions_list' %}">

                                <i class="fe fe-table"></i>

                                <span>
                                    Transaction
                                </span>

                            </a>

                        </li>
                        <!-- /Transaction -->


                        <!-- Reports -->
                        <li class="submenu">

                            <a href="#">

                                <i class="fe fe-document"></i>

                                <span>
                                    Reports
                                </span>

                                <span class="menu-arrow"></span>

                            </a>


                            <ul style="display: none;">

                                <li>

                                    <a href="#">
                                        Invoice Reports
                                    </a>

                                </li>

                            </ul>

                        </li>
                        <!-- /Reports -->


                        <li class="menu-title">

                            <span>
                                Pages
                            </span>

                        </li>


                        <!-- Profile -->
                        <li>

                            <a href="profile.html">

                                <i class="fe fe-user-plus"></i>

                                <span>
                                    Profile
                                </span>

                            </a>

                        </li>
                        <!-- /Profile -->


                        <!-- Settings -->
                        <li>

                            <a href="settings.html">

                                <i class="fe fe-vector"></i>

                                <span>
                                    Settings
                                </span>

                            </a>

                        </li>
                        <!-- /Settings -->

                    </ul>

                </div>

            </div>

        </div>
        <!-- /Sidebar -->


        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <div class="content container-fluid">


                <!-- Page Header -->
                <div class="page-header">

                    <div class="row">

                        <div class="col-sm-7 col-auto">

                            <h3 class="page-title">
                                Categories
                            </h3>


                            <ul class="breadcrumb">

                                <li class="breadcrumb-item">

                                    <a href="{% url 'admin_dashboard' %}">
                                        Dashboard
                                    </a>

                                </li>


                                <li class="breadcrumb-item active">

                                    Categories

                                </li>

                            </ul>

                        </div>


                        <div class="col-sm-5 col">

                            <a
                                href="#Add_Specialities_details"
                                data-bs-toggle="modal"
                                class="btn btn-primary float-end mt-2">

                                Add

                            </a>

                        </div>

                    </div>

                </div>
                <!-- /Page Header -->


                <!-- Category Table -->
                <div class="row">

                    <div class="col-sm-12">

                        <div class="card">

                            <div class="card-body">

                                <div class="table-responsive">

                                    <table class="datatable table table-hover table-center mb-0">

                                        <thead>

                                            <tr>

                                                <th>
                                                    #
                                                </th>

                                                <th>
                                                    Name
                                                </th>

                                                <th>
                                                    Created date
                                                </th>

                                                <th>
                                                    Actions
                                                </th>

                                            </tr>

                                        </thead>


                                        <tbody>

                                            {% for category in categories %}

                                            <tr>

                                                <td>
                                                    {{ forloop.counter }}
                                                </td>


                                                <td>

                                                    <h2 class="table-avatar">

                                                        {{ category.name }}

                                                    </h2>

                                                </td>


                                                <td>

                                                    {{ category.created_at|date:"d-M-Y-H:i" }}

                                                </td>


                                                <td>

                                                    <div class="actions">


                                                        <!-- Edit Button -->
                                                        <a
                                                            class="btn btn-sm bg-success-light"
                                                            data-bs-toggle="modal"
                                                            href="#edit_category_{{ category.id }}">

                                                            <i class="fe fe-pencil"></i>

                                                            Edit

                                                        </a>
                                                        <!-- /Edit Button -->


                                                        <!-- Delete Button -->
                                                        <a
                                                            data-bs-toggle="modal"
                                                            href="#delete_category_{{ category.id }}"
                                                            class="btn btn-sm bg-danger-light">

                                                            <i class="fe fe-trash"></i>

                                                            Delete

                                                        </a>
                                                        <!-- /Delete Button -->


                                                    </div>

                                                </td>

                                            </tr>


                                            {% empty %}

                                            <tr>

                                                <td
                                                    colspan="4"
                                                    class="text-center">

                                                    No categories found.

                                                </td>

                                            </tr>

                                            {% endfor %}

                                        </tbody>

                                    </table>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- /Category Table -->


            </div>

        </div>
        <!-- /Page Wrapper -->


        <!-- ====================================================== -->
        <!-- ADD CATEGORY MODAL -->
        <!-- ====================================================== -->

        <div
            class="modal fade"
            id="Add_Specialities_details"
            aria-hidden="true"
            role="dialog">

            <div
                class="modal-dialog modal-dialog-centered"
                role="document">

                <div class="modal-content">


                    <!-- Modal Header -->
                    <div class="modal-header">

                        <h5 class="modal-title">

                            Add Category

                        </h5>


                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">

                        </button>

                    </div>
                    <!-- /Modal Header -->


                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form
                            method="POST"
                            action="{% url 'add_category' %}">

                            {% csrf_token %}


                            <div class="row">

                                <div class="col-12">

                                    <div class="mb-3">

                                        <label class="mb-2">

                                            Category

                                        </label>


                                        <input
                                            type="text"
                                            name="name"
                                            class="form-control"
                                            placeholder="Enter category name"
                                            required>

                                    </div>

                                </div>

                            </div>


                            <button
                                type="submit"
                                class="btn btn-primary w-100">

                                Save

                            </button>


                        </form>

                    </div>
                    <!-- /Modal Body -->


                </div>

            </div>

        </div>
        <!-- /ADD CATEGORY MODAL -->


        <!-- ====================================================== -->
        <!-- EDIT CATEGORY MODALS -->
        <!-- ====================================================== -->

        {% for category in categories %}

        <div
            class="modal fade"
            id="edit_category_{{ category.id }}"
            aria-hidden="true"
            role="dialog">

            <div
                class="modal-dialog modal-dialog-centered"
                role="document">

                <div class="modal-content">


                    <!-- Modal Header -->
                    <div class="modal-header">

                        <h5 class="modal-title">

                            Edit Category

                        </h5>


                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">

                        </button>

                    </div>
                    <!-- /Modal Header -->


                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form
                            method="POST"
                            action="{% url 'edit_category' category.id %}">

                            {% csrf_token %}


                            <div class="row">

                                <div class="col-12">

                                    <div class="mb-3">

                                        <label class="mb-2">

                                            Category

                                        </label>


                                        <input
                                            type="text"
                                            name="name"
                                            class="form-control"
                                            value="{{ category.name }}"
                                            required>

                                    </div>

                                </div>

                            </div>


                            <button
                                type="submit"
                                class="btn btn-primary w-100">

                                Save

                            </button>


                        </form>

                    </div>
                    <!-- /Modal Body -->


                </div>

            </div>

        </div>

        {% endfor %}

        <!-- /EDIT CATEGORY MODALS -->


        <!-- ====================================================== -->
        <!-- DELETE CATEGORY MODALS -->
        <!-- ====================================================== -->

        {% for category in categories %}

        <div
            class="modal fade"
            id="delete_category_{{ category.id }}"
            aria-hidden="true"
            role="dialog">

            <div
                class="modal-dialog modal-dialog-centered"
                role="document">

                <div class="modal-content">


                    <div class="modal-body">

                        <div class="form-content p-2">


                            <h4 class="modal-title">

                                Delete

                            </h4>


                            <p class="mb-4">

                                Are you sure you want to delete

                                <strong>
                                    {{ category.name }}
                                </strong>

                                ?

                            </p>


                            <form
                                method="POST"
                                action="{% url 'delete_category' category.id %}">

                                {% csrf_token %}


                                <button
                                    type="submit"
                                    class="btn btn-primary">

                                    Delete

                                </button>


                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-bs-dismiss="modal">

                                    Close

                                </button>


                            </form>


                        </div>

                    </div>


                </div>

            </div>

        </div>

        {% endfor %}

        <!-- /DELETE CATEGORY MODALS -->


    </div>
    <!-- /Main Wrapper -->


    <!-- jQuery -->
    <script
        src="{% static 'assets/js/jquery-3.7.1.min.js' %}">
    </script>


    <!-- Bootstrap Core JS -->
    <script
        src="{% static 'assets/js/bootstrap.bundle.min.js' %}">
    </script>


    <!-- Slimscroll JS -->
    <script
        src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}">
    </script>


    <!-- Datatables JS -->
    <script
        src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}">
    </script>


    <script
        src="{% static 'assets/plugins/datatables/datatables.min.js' %}">
    </script>


    <!-- Custom JS -->
    <script
        src="{% static 'assets/js/script.js' %}">
    </script>


</body>

</html>

{% endblock %}