{% extends 'base1.html '%}
{% load static %}
{% block content %}
		

	   <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">List of Patient</h3>
								<h6><a href="{% url 'admin_dashboard' %}">Dashboard</a></h6>
								<ul class="breadcrumb">
								
									<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
									<li class="breadcrumb-item active">Patient</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Patient ID</th>
													<th>Patient Name</th>
													<th>Dob</th>
													<th>Address</th>
													<th>Phone</th>
													<th>gender</th>
													<th>Action</th>
													
												</tr>
											</thead>
											<tbody>
                                                {% for i in patient %}
												<tr>
													<td>{{i.id}}</td>
													<td>
                                                    <h2 class="table-avatar">
    <a href="profile.html" class="avatar avatar-sm me-2">
        {% if i.profile_photo %}
            <img class="avatar-img rounded-circle"
                 src="{{ i.profile_photo.url }}"
                 alt="User Image">
        {% else %}
            <img class="avatar-img rounded-circle"
                 src="/static/images/user.jpg"
                 alt="User Image">
        {% endif %}
    </a>

    <a href="profile.html">{{ i.fname }} {{ i.lname }}</a>
</h2>
													</td>
													<td>{{i.dob}}</td>
													<td>{{i.address}}</td>
													<td>{{i.phone}}</td>
													<td>{{i.gender}}</td>
													<td>
    <form method="POST"
          action="{% url 'delete_patient' i.id %}"
          onsubmit="return confirm('Are you sure you want to delete this patient?');">

        {% csrf_token %}

        <button type="submit" class="btn btn-sm btn-danger">
            <i class="fe fe-trash-2 me-1"></i>
            Delete
        </button>

    </form>
</td>
													
												</tr>
											
                                              

                                                {% endfor%}
											</tbody>
										</table>
									</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
					
				</div>			
			</div>	



{% endblock %}