{% extends "base.html" %}
{% load static %}
{% block content%}

			<div class="breadcrumb-bar">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/patient/" aria-label="home"><i class="isax isax-home-15"></i></a></li>
									<li class="breadcrumb-item" aria-current="page">Patient</li>
									<li class="breadcrumb-item active">Dashboard</li>
								</ol>
								<h2 class="breadcrumb-title">Patient Dashboard</h2>
							</nav>
						</div>
					</div>
				</div>
				<div class="breadcrumb-bg">
					<img src="{% static 'assets/img/bg/breadcrumb-bg-01.png' %}" alt="img" class="breadcrumb-bg-01">
					<img src="{% static 'assets/img/bg/breadcrumb-bg-02.png' %}" alt="img" class="breadcrumb-bg-02">
					<img src="{% static 'assets/img/bg/breadcrumb-icon.png' %}" alt="img" class="breadcrumb-bg-03">
					<img src="{% static 'assets/img/bg/breadcrumb-icon.png' %}" alt="img" class="breadcrumb-bg-04">
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">
						
						<!-- Profile Sidebar -->
						<div class="col-lg-4 col-xl-3 theiaStickySidebar">
							{% include 'slidebar.html'%}
						</div>
						<!-- / Profile Sidebar -->
						
						<div class="col-lg-8 col-xl-9">

							<div class="dashboard-header">
								<h3>Dashboard</h3>

								<ul class="header-list-btns">
									<li>
										<div class="dropdown header-dropdown">

											<a class="dropdown-toggle"
											   data-bs-toggle="dropdown"
											   href="javascript:void(0);">

												<img src="{% static 'assets/img/doctors-dashboard/profile-06.jpg' %}"
													 class="avatar dropdown-avatar"
													 alt="Img">

												Hendrita

											</a>

											<div class="dropdown-menu dropdown-menu-end">

												<a href="javascript:void(0);" class="dropdown-item">

													<img src="{% static 'assets/img/doctors-dashboard/profile-06.jpg' %}"
														 class="avatar dropdown-avatar"
														 alt="Img">

													Hendrita

												</a>

												<a href="javascript:void(0);" class="dropdown-item">

													<img src="{% static 'assets/img/doctors-dashboard/profile-08.jpg' %}"
														 class="avatar dropdown-avatar"
														 alt="Img">

													Laura

												</a>

												<a href="javascript:void(0);" class="dropdown-item">

													<img src="{% static 'assets/img/doctors-dashboard/profile-07.jpg' %}"
														 class="avatar dropdown-avatar"
														 alt="Img">

													Mathew

												</a>

											</div>

										</div>
									</li>
								</ul>								
							</div>


							<!-- =========================
							     HEALTH RECORDS + FAVOURITES
							     ========================= -->

							<div class="row">

								<!-- Health Records -->
								<div class="col-xl-8 d-flex">

									<div class="dashboard-card w-100">

										<div class="dashboard-card-head">

											<div class="header-title">
												<h5>Health Records</h5>
											</div>											

										</div>

										<div class="dashboard-card-body">

											<div class="row">

												<div class="col-sm-7">

													<div class="row">

														<!-- Heart Rate -->
														<div class="col-lg-6">

															<div class="health-records icon-orange">

																<span>
																	<i class="fa-solid fa-heart"></i>
																	Heart Rate
																</span>

																<h3>
																	{{ health_record.heart_rate }} Bpm
																	<sup> 2%</sup>
																</h3>

															</div>

														</div>


														<!-- Body Temperature -->
														<div class="col-lg-6">

															<div class="health-records icon-amber">

																<span>
																	<i class="fa-solid fa-temperature-high"></i>
																	Body Temprature
																</span>

																<h3>
																	{{ health_record.body_temperature }} C
																</h3>

															</div>

														</div>


														<!-- Glucose Level -->
														<div class="col-lg-6">

															<div class="health-records icon-dark-blue">

																<span>
																	<i class="fa-solid fa-notes-medical"></i>
																	Glucose Level
																</span>

																<h3>
																	{{ health_record.glucose_level }}
																	<sup> 6%</sup>
																</h3>

															</div>

														</div>


														<!-- SpO2 -->
														<div class="col-lg-6">

															<div class="health-records icon-blue">

																<span>
																	<i class="fa-solid fa-highlighter"></i>
																	SPo2
																</span>

																<h3>
																	{{ health_record.spo2 }}%
																</h3>

															</div>

														</div>


														<!-- Blood Pressure -->
														<div class="col-lg-6">

															<div class="health-records icon-red">

																<span>
																	<i class="fa-solid fa-syringe"></i>
																	Blood Pressure
																</span>

																<h3>
																	{{ health_record.blood_pressure }}
																	<sup> 2%</sup>
																</h3>

															</div>

														</div>


														<!-- BMI -->
														<div class="col-lg-6">

															<div class="health-records icon-purple">

																<span>
																	<i class="fa-solid fa-user-pen"></i>
																	BMI
																</span>

																<h3>
																	{{ health_record.bmi }} kg/m2
																</h3>

															</div>

														</div>


														<!-- Report Date -->
														<div class="col-md-12">

															<div class="report-gen-date">

																<p>

																	Report generated on last visit :
																	{{ health_record.report_date|date:"d M Y" }}

																	<span>
																		<i class="fa-solid fa-copy"></i>
																	</span>

																</p>

															</div>

														</div>

													</div>

												</div>


												<!-- Overall Report -->
												<div class="col-sm-5">

													<div class="chart-over-all-report">

														<h6>Overall Report</h6>

														<div class="circle-bar circle-bar3 report-chart">

															<div class="circle-graph3"
																 data-percent="{{ health_record.health_percentage }}">

																<p>
																	Last visit
																	{{ health_record.report_date|date:"d M Y" }}
																</p>

															</div>

														</div>

														<span class="health-percentage">

															Your health is
															{{ health_record.health_percentage }}% Normal

														</span>

														<a href="/medical_details/"
														   class="btn btn-dark w-100 rounded-pill">

															View Details

															<i class="fa-solid fa-chevron-right ms-2"></i>

														</a>

													</div>

												</div>

											</div>

										</div>

									</div>

								</div>


								<!-- Favourites -->
								<div class="col-xl-4 d-flex">

									<div class="favourites-dashboard w-100">

										<div class="book-appointment-head">

											<h3>
												<span>Book a new</span>
												Appointment
											</h3>

											<span class="add-icon">

												<a href="search.html">
													<i class="fa-solid fa-circle-plus"></i>
												</a>

											</span>

										</div>


										<div class="dashboard-card w-100">

											<div class="dashboard-card-head">

												<div class="header-title">
													<h5>Favourites</h5>
												</div>

												<div class="card-view-link">

													<a href="favourites.html">
														View All
													</a>

												</div>

											</div>


											{% for favourite in favourites %}

											<div class="doctor-fav-list">

												<div class="doctor-info-profile">

													<a href="#" class="table-avatar">

														{% if favourite.docter.profile_image %}

															<img
																src="{{ favourite.docter.profile_image.url }}"
																alt="Img">

														{% else %}

															<img
																src="{% static 'assets/img/doctors-dashboard/doctor-profile-img.jpg' %}"
																alt="Img">

														{% endif %}

													</a>

													<div class="doctor-name-info">

														<h5>

															<a href="#">

																Dr. {{ favourite.docter.first_name }}
																{{ favourite.docter.last_name }}

															</a>

														</h5>

														<span>
															{{ favourite.docter.specalist }}
														</span>

													</div>

												</div>

											</div>

											{% endfor %}

										</div>

									</div>

								</div>

							</div>


							<!-- =========================
							     REPORTS
							     ========================= -->

							<div class="row">

								<div class="col-xl-12 d-flex">

									<div class="dashboard-card w-100">

										<div class="dashboard-card-head">

											<div class="header-title">
												<h5>Reports</h5>
											</div>											

										</div>


										<div id="appoint-tab" class="tab-pane fade show active">

    <div class="custom-new-table report-table-wrapper">

        <div class="appointment-report-scroll">

            <div class="table-responsive">

                <table class="table table-hover table-center mb-0">

                    <thead>

                        <tr>
                            <th>ID</th>
                            <th>Doctor</th>
                            <th>Date & Time</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>

                    </thead>

                    <tbody>

                        {% for i in av %}

                        <tr>

                            <!-- ID -->
                            <td>
                                <a href="javascript:void(0);">
                                    <span class="link-primary">
                                        #{{ i.id }}
                                    </span>
                                </a>
                            </td>


                            <!-- Doctor -->
                            <td>

                                <h2 class="table-avatar">

                                    {% if i.docter.profile_image %}

                                        <a href="javascript:void(0);"
                                           class="avatar avatar-sm me-2">

                                            <img
                                                class="avatar-img rounded-3"
                                                src="{{ i.docter.profile_image.url }}"
                                                alt="Doctor Image">

                                        </a>

                                    {% else %}

                                        <a href="javascript:void(0);"
                                           class="avatar avatar-sm me-2">

                                            <img
                                                class="avatar-img rounded-3"
                                                src="{% static 'assets/img/doctors-dashboard/doctor-profile-img.jpg' %}"
                                                alt="Doctor Image">

                                        </a>

                                    {% endif %}

                                    <a href="javascript:void(0);">

                                        {{ i.docter.first_name }}
                                        {{ i.docter.last_name }}

                                    </a>

                                </h2>

                            </td>


                            <!-- Date & Time -->
                            <td>

                                {% if i.appointment_date %}

                                    <div>
                                        <strong>
                                            {{ i.appointment_date|date:"d M Y" }}
                                        </strong>
                                    </div>

                                {% else %}

                                    <div>
                                        <span class="text-muted">
                                            Date not selected
                                        </span>
                                    </div>

                                {% endif %}


                                {% if i.appointment_time %}

                                    <div class="text-muted">

                                        <i class="fa-regular fa-clock me-1"></i>

                                        {{ i.appointment_time|time:"h:i A" }}

                                    </div>

                                {% else %}

                                    <div class="text-muted">
                                        Time not available
                                    </div>

                                {% endif %}


                                <small class="text-primary">

                                    <i class="fa-regular fa-calendar me-1"></i>

                                    {{ i.appointment_day }}

                                </small>

                            </td>


                            <!-- Type -->
                            <td>

                                <span class="badge badge-xs p-2 badge-soft-info">

                                    Appointment

                                </span>

                            </td>


                            <!-- Status -->
                            <td>

                                {% if i.status == "Approved" %}

                                    <span class="badge badge-xs p-2 badge-soft-success inline-flex align-items-center">

                                        <i class="fa-solid fa-circle me-1 fs-5"></i>

                                        Approved

                                    </span>


                                {% elif i.status == "Pending" %}

                                    <span class="badge badge-xs p-2 badge-soft-warning inline-flex align-items-center">

                                        <i class="fa-solid fa-circle me-1 fs-5"></i>

                                        Pending

                                    </span>


                                {% elif i.status == "Rejected" %}

                                    <span class="badge badge-xs p-2 badge-soft-danger inline-flex align-items-center">

                                        <i class="fa-solid fa-circle me-1 fs-5"></i>

                                        Rejected

                                    </span>


                                {% elif i.status == "Cancelled" %}

                                    <span class="badge badge-xs p-2 badge-soft-secondary inline-flex align-items-center">

                                        <i class="fa-solid fa-circle me-1 fs-5"></i>

                                        Cancelled

                                    </span>


                                {% elif i.status == "Completed" %}

                                    <span class="badge badge-xs p-2 badge-soft-success inline-flex align-items-center">

                                        <i class="fa-solid fa-circle me-1 fs-5"></i>

                                        Completed

                                    </span>


                                {% else %}

                                    <span class="badge badge-xs p-2 badge-soft-purple inline-flex align-items-center">

                                        <i class="fa-solid fa-circle me-1 fs-5"></i>

                                        {{ i.status }}

                                    </span>

                                {% endif %}

                            </td>


                            <!-- Action -->
                            <td>

                                <div class="report-action-buttons">

                                    {% if i.status == "Pending" or i.status == "Approved" %}

                                        <a
                                            href="{% url 'cancel_appointment' i.id %}"
                                            class="btn btn-sm btn-danger"
                                            onclick="return confirm('Are you sure you want to cancel this appointment?');"
                                        >

                                            <i class="fa-solid fa-xmark me-1"></i>

                                            Cancel

                                        </a>

                                    {% endif %}


                                    {% if i.status == "Approved" %}

                                        <a
                                            href="{% url 'patient_video_call' i.id %}"
                                            class="btn btn-sm btn-primary"
                                        >

                                            <i class="fa-solid fa-video me-1"></i>

                                            Join Video Call

                                        </a>

                                    {% endif %}


                                    {% if i.status == "Rejected" %}

                                        <span class="text-danger">
                                            Rejected by Doctor
                                        </span>

                                    {% endif %}


                                    {% if i.status == "Cancelled" %}

                                        <span class="text-muted">
                                            Cancelled by Patient
                                        </span>

                                    {% endif %}


                                    {% if i.status == "Completed" %}

                                        <span class="text-success">
                                            Completed
                                        </span>

                                    {% endif %}

                                </div>

                            </td>

                        </tr>

                        {% empty %}

                        <tr>

                            <td colspan="6" class="text-center">

                                <div class="py-4">

                                    <i class="fa-regular fa-calendar-xmark fs-2 mb-2"></i>

                                    <p class="mb-0">
                                        No appointments found.
                                    </p>

                                </div>

                            </td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

									</div>

								</div>

							</div>
							<!-- /Reports -->

						</div>

					</div>

				</div>

			</div>


<style>

/* =========================================================
   REPORT SECTION
   Only affects the Reports area
   ========================================================= */


   /* =========================================
   Appointment Report Scroll
   Show around 4 appointments
   ========================================= */

.appointment-report-scroll {
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Keep table width */
.appointment-report-scroll table {
    width: 100%;
}

/* Keep table header visible while scrolling */
.appointment-report-scroll thead {
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
}

/* Scrollbar */
.appointment-report-scroll::-webkit-scrollbar {
    width: 6px;
}

.appointment-report-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.appointment-report-scroll::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.appointment-report-scroll::-webkit-scrollbar-thumb:hover {
    background: #999;
}


/* Firefox */
.appointment-report-scroll {
    scrollbar-width: thin;
}
.report-section {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

/* Tabs */
.report-tabs-wrapper {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
}

.report-tabs {
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	min-width: max-content;
	margin-bottom: 0;
}

/* Keep tabs looking like the original design */
.report-tabs .nav-item {
	flex: 0 0 auto;
}

.report-tabs .nav-link {
	white-space: nowrap;
}

/* Table wrapper */
.report-table-wrapper {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

/* Horizontal scroll only when table needs it */
.report-table-wrapper .table-responsive {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

/* Don't allow table to break the page */
.report-table-wrapper table {
	min-width: 850px;
	margin-bottom: 0;
}

/* Appointment action buttons */
.report-action-buttons {
	display: flex;
	align-items: center;
	gap: 6px;
	flex-wrap: wrap;
	min-width: 170px;
}

.report-action-buttons .btn {
	white-space: nowrap;
}

/* Keep doctor name in one clean area */
.report-table-wrapper .table-avatar {
	margin-bottom: 0;
}

/* Status badge */
.report-table-wrapper .badge {
	white-space: nowrap;
}

/* Better spacing between tabs and table */
.report-section .tab-content {
	padding-top: 15px !important;
}


/* =========================================================
   DESKTOP
   ========================================================= */

@media (min-width: 1200px) {

	.report-table-wrapper table {
		min-width: 100%;
	}

	.report-action-buttons {
		min-width: 180px;
	}

}


/* =========================================================
   TABLET
   ========================================================= */

@media (max-width: 1199px) {

	.report-table-wrapper .table-responsive {
		overflow-x: auto;
	}

	.report-table-wrapper table {
		min-width: 900px;
	}

}


/* =========================================================
   MOBILE
   ========================================================= */

@media (max-width: 767px) {

	.report-tabs-wrapper {
		margin-bottom: 5px;
	}

	.report-tabs {
		width: max-content;
	}

	.report-table-wrapper table {
		min-width: 900px;
	}

	.report-action-buttons {
		flex-wrap: nowrap;
	}

}


/* =========================================================
   VERY SMALL SCREEN
   ========================================================= */

@media (max-width: 575px) {

	.report-tabs .nav-link {
		padding-left: 12px;
		padding-right: 12px;
	}

	.report-table-wrapper table {
		min-width: 900px;
	}

}

</style>

{% endblock%}