{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Breadcrumb -->

<div class="breadcrumb-bar">

    <div class="container">

        <div class="row align-items-center inner-banner">

            <div class="col-md-12 col-12 text-center">

                <nav
                    aria-label="breadcrumb"
                    class="page-breadcrumb"
                >

                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">

                            <a href="/pharma/">

                                <i class="isax isax-home-15"></i>

                            </a>

                        </li>

                        <li class="breadcrumb-item">

                            Pharmacy

                        </li>

                        <li class="breadcrumb-item active">

                            Checkout

                        </li>

                    </ol>


                    <h2 class="breadcrumb-title">

                        Checkout

                    </h2>

                </nav>

            </div>

        </div>

    </div>


    <div class="breadcrumb-bg">

        <img
            src="{% static 'assets/img/bg/breadcrumb-bg-01.png' %}"
            alt="img"
            class="breadcrumb-bg-01"
        >

        <img
            src="{% static 'assets/img/bg/breadcrumb-bg-02.png' %}"
            alt="img"
            class="breadcrumb-bg-02"
        >

        <img
            src="{% static 'assets/img/bg/breadcrumb-icon.png' %}"
            alt="img"
            class="breadcrumb-bg-03"
        >

        <img
            src="{% static 'assets/img/bg/breadcrumb-icon.png' %}"
            alt="img"
            class="breadcrumb-bg-04"
        >

    </div>

</div>


<!-- Page Content -->

<div class="content">

    <div class="container">

        <form method="POST">

            {% csrf_token %}


            <div class="row">


                <!-- LEFT SIDE -->

                <div class="col-md-6 col-lg-7">

                    <div class="card">

                        <div class="card-header">

                            <h3 class="card-title">

                                Billing details

                            </h3>

                        </div>


                        <div class="card-body">


                            <!-- PERSONAL INFORMATION -->

                            <div class="info-widget">

                                <h4 class="card-title">

                                    Personal Information

                                </h4>


                                <div class="row">


                                    <!-- FIRST NAME -->

                                    <div class="col-md-6 col-sm-12">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                First Name

                                            </label>


                                            <input
                                                type="text"
                                                name="first_name"
                                                class="form-control"
                                                value="{% if patient %}{{ patient.first_name }}{% endif %}"
                                                required
                                            >

                                        </div>

                                    </div>


                                    <!-- LAST NAME -->

                                    <div class="col-md-6 col-sm-12">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                Last Name

                                            </label>


                                            <input
                                                type="text"
                                                name="last_name"
                                                class="form-control"
                                                value="{% if patient %}{{ patient.last_name }}{% endif %}"
                                                required
                                            >

                                        </div>

                                    </div>


                                    <!-- EMAIL -->

                                    <div class="col-md-6 col-sm-12">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                Email

                                            </label>


                                            <input
                                                type="email"
                                                name="email"
                                                class="form-control"
                                                value="{% if patient %}{{ patient.email }}{% endif %}"
                                                required
                                            >

                                        </div>

                                    </div>


                                    <!-- PHONE -->

                                    <div class="col-md-6 col-sm-12">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                Phone

                                            </label>


                                            <input
                                                type="text"
                                                name="phone"
                                                class="form-control"
                                                value="{% if patient %}{{ patient.phone }}{% endif %}"
                                                required
                                            >

                                        </div>

                                    </div>


                                </div>

                            </div>


                            <!-- SHIPPING -->

                            <div class="info-widget">

                                <h4 class="card-title">

                                    Shipping Details

                                </h4>


                                <div class="row">


                                    <!-- ADDRESS -->

                                    <div class="col-md-12">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                Address

                                            </label>


                                            <textarea
                                                name="address"
                                                class="form-control"
                                                rows="3"
                                                required
                                            >{% if patient %}{{ patient.address }}{% endif %}</textarea>

                                        </div>

                                    </div>


                                    <!-- CITY -->

                                    <div class="col-md-4">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                City

                                            </label>


                                            <input
                                                type="text"
                                                name="city"
                                                class="form-control"
                                                value="{% if patient %}{{ patient.city }}{% endif %}"
                                                required
                                            >

                                        </div>

                                    </div>


                                    <!-- STATE -->

                                    <div class="col-md-4">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                State

                                            </label>


                                            <input
                                                type="text"
                                                name="state"
                                                class="form-control"
                                                value="{% if patient %}{{ patient.state }}{% endif %}"
                                                required
                                            >

                                        </div>

                                    </div>


                                    <!-- PINCODE -->

                                    <div class="col-md-4">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                Pincode

                                            </label>


                                            <input
                                                type="text"
                                                name="pincode"
                                                class="form-control"
                                                value="{% if patient %}{{ patient.pincode }}{% endif %}"
                                                required
                                            >

                                        </div>

                                    </div>


                                    <!-- NOTES -->

                                    <div class="col-md-12">

                                        <div class="mb-3 card-label">

                                            <label class="mb-2">

                                                Order Notes
                                                (Optional)

                                            </label>


                                            <textarea
                                                name="order_notes"
                                                rows="4"
                                                class="form-control"
                                            ></textarea>

                                        </div>

                                    </div>


                                </div>

                            </div>


                            <!-- PAYMENT METHOD -->

                            <div class="payment-widget">

                                <h4 class="card-title">

                                    Payment Method

                                </h4>


                                <div class="mb-3">

                                    <label class="mb-2">

                                        Select Payment Method

                                    </label>


                                    <select
                                        name="payment_method"
                                        class="form-control"
                                        required
                                    >

                                        <option value="">

                                            Select Payment Method

                                        </option>


                                        <option value="cod">

                                            Cash on Delivery

                                        </option>


                                        <option value="online">

                                            Online Payment

                                        </option>


                                    </select>

                                </div>

                            </div>


                            <!-- TERMS -->

                            <div class="terms-accept">

                                <div class="custom-checkbox">

                                    <input
                                        type="checkbox"
                                        id="terms_accept"
                                        required
                                    >


                                    <label for="terms_accept">

                                        I have read and accept
                                        Terms & Conditions

                                    </label>

                                </div>

                            </div>


                            <!-- SUBMIT -->

                            <div class="submit-section mt-4">

                                <button
                                    type="submit"
                                    class="btn btn-primary submit-btn"
                                >

                                    Confirm Order

                                </button>

                            </div>


                        </div>

                    </div>

                </div>


                <!-- RIGHT SIDE -->

                <div class="col-md-6 col-lg-5">

                    <div class="card booking-card">


                        <div class="card-header">

                            <h3 class="card-title">

                                Your Order

                            </h3>

                        </div>


                        <div class="card-body">


                            <div class="table-responsive">

                                <table
                                    class="table table-center mb-0"
                                >

                                    <thead>

                                        <tr>

                                            <th>
                                                Product
                                            </th>

                                            <th class="text-end">
                                                Total
                                            </th>

                                        </tr>

                                    </thead>


                                    <tbody>


                                        {% for item in cart_items %}

                                        <tr>

                                            <td>

                                                {{ item.product.name }}

                                                ×
                                                {{ item.quentity }}

                                            </td>


                                            <td class="text-end">

                                                ${{ item.total|floatformat:2 }}

                                            </td>

                                        </tr>


                                        {% empty %}

                                        <tr>

                                            <td
                                                colspan="2"
                                                class="text-center"
                                            >

                                                Your cart is empty.

                                            </td>

                                        </tr>

                                        {% endfor %}


                                    </tbody>

                                </table>

                            </div>


                            <div class="booking-summary pt-5">

                                <div class="booking-item-wrap">


                                    <ul
                                        class="booking-date d-block pb-0"
                                    >

                                        <li>

                                            Subtotal

                                            <span>

                                                ${{ subtotal|floatformat:2 }}

                                            </span>

                                        </li>


                                        <li>

                                            Shipping

                                            <span>

                                                ${{ shipping|floatformat:2 }}

                                            </span>

                                        </li>

                                    </ul>


                                    <ul class="booking-fee">

                                        <li>

                                            Tax

                                            <span>

                                                ${{ tax|floatformat:2 }}

                                            </span>

                                        </li>

                                    </ul>


                                    <div class="booking-total">

                                        <ul
                                            class="booking-total-list"
                                        >

                                            <li>

                                                <span>

                                                    <strong>
                                                        Total
                                                    </strong>

                                                </span>


                                                <span
                                                    class="total-cost"
                                                >

                                                    ${{ total|floatformat:2 }}

                                                </span>

                                            </li>

                                        </ul>

                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>


            </div>

        </form>

    </div>

</div>

{% endblock %}